#header {
  height: 60px;
  background-color: #008073;
  color: white;
  margin-bottom: 16px;
  padding: 0;
  width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  h1 {
    margin: 0;
    padding: 0;
  }
}

#videos {
  display: flex;
  align-items: center;
  justify-content: center;
}

video {
  margin-top: 60px;
  width: 700px;
  height: auto;
}

#overlayText {
  position: absolute;
  top: 30%;
  left: 20%;
  z-index: 1;
}

#topText {
  color: black;
  font-size: 20px;
  align-self: center;
}

#incoming-call-notification {
  position: absolute;
  background-color: lightgreen;
  color: black;
  width: 100%;
  text-align: center;
  display: flex;
  padding: 4px;
  justify-content: center;
  bottom: 28%;
  div {
    display: inline;
  }
}
