#header {
  height: 60px;
  background-color: #008073;
  color: white;
  margin-bottom: 16px;
  padding: 0;
  width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  h1 {
    margin: 0;
    padding: 0;
  }
}

#videos {
  display: flex;
  align-items: center;
  justify-content: center;
}

video {
  width: 400px;
  height: auto;
  margin-right: 16px;
}

#overlayText {
  position: absolute;
  top: 30%;
  left: 20%;
  z-index: 1;
}

#topText {
  color: black;
  font-size: 20px;
  align-self: center;
}
