<section>
  <div class="container">
    <h1>MEAN Stack P2P Video Calling</h1>
  </div>
</section>

<section id="user-media" *ngIf="isStreamAvailable">
  <div class="container">
    <div id="videos">
      <video id="my-video" #videoRef></video>
      <video id="partner-video" #partnerVideoRef></video>
    </div>

    <button (click)="toggleControls()" class="btn btn-success">
      Toggle Controls
    </button>

    <div class="media-controls" *ngIf="displayControls">
      <button (click)="start()" class="btn btn-primary">Play</button>
      <button (click)="pause()" class="btn btn-warning">Pause</button>
      <button (click)="resume()" class="btn btn-info">Resume</button>
      <button (click)="sound()" class="btn btn-danger">Play with Sound</button>
    </div>
  </div>
</section>

<section>
  <h1>Something went wrong, please refresh the page.</h1>
</section>

<section class="online-users">
  <p>{{ onlineUsers | json }}</p>
</section>
